body {
  background-color: #ffffff;
  font-family: sans-serif;
  height: 1000px;
}
body h1{
  font-family: 'Montserrat', sans-serif;
  white-space: pre;
  text-align: center;
}
body p{
  font-family: 'EB Garamond', serif;
  /* width: 200px; */
}
#spinButton{
  display: block;
  margin: 50px auto;
  border: none;
  border-radius: 10px;
  background-color: #3aa8af;
  padding: 0.5em 2em;
  color: white;
  font-size: 20px;
}
#respinButton{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px;
  background-image: url('./assets/refresh-button-icon.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.spinner{
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

/* thanks to https://codepen.io/thebabydino/pen/hkxGp */
#rainbow-wheel {
  display: block;
position: relative;
/* margin: 1em auto; */
/* border: solid 2em white; */
border-radius: 50%;
background-image: url('./assets/double-hearts.png');
height: 100%;
width: 100%;
background-color: #F4F2ED;
background-size: 50%;
background-repeat: no-repeat;
background-position: center;
transition: 8s;
text-align: center;
z-index: -10;
padding: 0;
margin: 0;

}

#spin1 {
  position: relative;
  display: inline;
  width: 200px;
  height: 200px;
  z-index: 20;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  top: -313px;
      left: 87px;
  display: table-cell;
      vertical-align: middle;
      padding: 10px;
}
#spin1 p{
  margin: 0 auto;
  padding: 0px;
  /* width: 200px;
  height: 200px; */
  text-align: center;
  vertical-align: middle;
  z-index: 200;
}

#container{
  padding: 3em;
  display: none;
}

.p1 {
  bottom: -192px;
  right: -13px;
  transform: rotate(25deg);
  position: relative;
}
.p2 {
  bottom: -174px;
  right: -20px;
  transform: rotate(53deg);
  position: relative;
}
.p3 {
  transform: rotate(80deg);
  top: 143px;
  left: 5px;
  position: relative;
}
.p4 {
  transform: rotate(100deg);
  position: relative;
  top: 106px;
  left: 2px;
}
.p5 {
  transform: rotate(125deg);
  position: relative;
  top: 46px;
  right: -1px;
}
.p6 {
  transform: rotate(160deg);
  position: relative;
  top: -5px;
  right: 18px;
}
.p7 {
  transform: rotate(180deg);
  position: relative;
  top: -37px;
  right: 6px;
}
.p8 {
  transform: rotate(205deg);
  position: relative;
  top: -78px;
  right: 8px;
}
.p9 {
  transform: rotate(230deg);
  position: relative;
  top: -116px;
  right: 4px;
}
.p10 {
  transform: rotate(260deg);
  position: relative;
  top: -160px;
  right: 1px;
}
.p11 {
  transform: rotate(284deg);
  position: relative;
  top: -196px;
  right: 0px;
}
.p12 {
  transform: rotate(310deg);
  position: relative;
  top: -238px;
  right: -4px;
}
.p13 {
  transform: rotate(330deg);
  position: relative;
  top: -285px;
  right: -11px;
}
.p14 {
  transform: rotate(360deg);
  position: relative;
  top: -306px;
  right: -6px;
}
